* {
    margin: 0;
    padding: 0;
}

.row>* {
    padding: 0px;
}

.card {
    margin: 5px;
    text-align: justify;
    border: none;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(209,209,209,1);
-moz-box-shadow: 3px 3px 5px 0px rgba(209,209,209,1);
box-shadow: 3px 3px 5px 0px rgba(209,209,209,1);
}

.card-title {
    text-align: center;
}

/* para Bootstrap (xs) */
@media (max-width: 575.98px) {
    #navbarSupportedContent {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* para Bootstrap (sm) */
@media (min-width: 576px) and (max-width: 767.99px) {
}

/* para Bootstrap (md) */
@media (min-width: 768px) and (max-width: 991.99px) {
    
}
/* para Bootstrap (lg) */
@media (min-width: 992px) and (max-width: 1199.99px) {
    
}
/* para Bootstrap (xl) */
@media (min-width: 1200px) {
    
}

/* Para mostrar la navbar completa */
@media screen and (max-width: 1769px) {
    .navbar-dropdown {
        display: flex;
    }
    
    .navbar-completa {
        display: none;
    }
}



@media screen and (min-width: 1770px) {
    .navbar-dropdown {
        display: none;
    }
    .navbar-completa {
        display: flex;
    }
}